
.order{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.orderBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C4C4C4;
    border-radius: 10px;
    padding: 0px 10px;
    cursor: pointer;
}
.date{
    margin-right: 8px;
}

.allOrderPrice{
    margin-right: 8px;
}
.price{
    margin-right: 8px;
    font-weight: bold;
    font-size: 18px;
}
.orderStatus{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
.status{
    background: #51C780;
    border-radius: 8px;
    padding: 3px;
    margin-right: 8px;
}

.statusName{
    margin-right: 8px;
}

.order_container{
    display: flex;
    flex-direction: column;
}

.orderProducts{
    display: none;
    flex-direction: column;
    margin-left: 50px;
}
.product{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.name{
    margin-right:10px;
    width: 200px;
}

.count{
    width: 70px;
    text-align: center;
}

.priceProduct{
    width: 100px;
    text-align: center;
}
.value{
    width: 120px;
    text-align: center;
}
.active{
    display: flex;
}

@media (max-width:770px) {
    .order{
        flex-direction: column-reverse;
        padding: 10px 0px;
        background: #C4C4C4;
        border-radius: 10px;
    }
}


@media (max-width:630px) {
    .orderProducts{
        margin-left: 10px;
    }
}

@media (max-width:580px) {
    .name{
        width: 150px;
        font-size: 14px;
    }
    .value{
        width: 80px;
        font-size: 14px;
    }
    .priceProduct{
        width: 60px;
        font-size: 14px;
    }
    .count{
        width: 50px;
        font-size: 14px;
    }   
    .product div:nth-child(3){
        font-size: 12px;
    }
}


@media (max-width:450px) {
    .orderBody span{
        font-size: 12px;
    }
    .orderStatus{
        font-size: 14px;
    }
    .allOrderPrice{
        font-size: 16px;
    }
    .name{
        width: 110px;
        font-size: 12px;
    }
    .priceProduct{
        width: 60px;
        font-size: 12px;
    }
    .value{
        width: 60px;
        font-size: 12px;
    }
    .count{
        font-size: 12px;
        width: 30px;
    }
}

@media (max-width:350px) {

    .orderStatus{
        font-size: 12px;
    }
}
@media (max-width:342px) {

    .orderStatus{
        font-size: 12px;
    }
    .orderBody span:nth-child(2){
        display: none;
    }
}