
.products{
    padding: 32px 0px;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 288px;
    column-gap: 33px;
    row-gap: 42px;
    margin: 0px 10px;
    position: relative;
}

@media (max-width:1135px) {
    .products{
        grid-template-columns:minmax(255px, auto) minmax(255px, auto) minmax(255px, auto);
        grid-auto-rows: 350px;
    }
}

@media (max-width:860px) {
    .products{
        grid-template-columns:minmax(255px, auto) minmax(255px, auto);
        grid-auto-rows: 350px
    }
}

@media (max-width:575px) {
    .products{
        grid-template-columns:minmax(255px, auto);
        grid-auto-rows: 350px;
    }
}