.back{
    background: #D3D3D3;
    border-radius: 30px;
    width: 210px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9C9C9C;
    font-size: 16px;
    margin-bottom: 36px;
    margin-left: 20px;
}

.registr{
    max-width: 1140px;
    margin: auto;
}
.registr_container{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 487px;
    margin: auto;
    margin-bottom: 20px;
    background: #CBE4D5;
    border-radius: 30px;
    padding-top: 50px;
}

.content form input{
    font-size: 20px;
    padding: 0px 5px;
}
.submit button{
    width: 387px;
    height: 78px;
    background: #51A3C7;
    border-radius: 40px;
    font-size: 24px;
    color: #ffff;
}
.submit{
    margin-top: 30px;
    padding-bottom: 20px;

}

@media (max-width:520px) {
    .content{
        width: 440px;
        padding-top: 30px;
    }
    .submit button{
        width: 350px;
        margin-left: 4%;
    }
}

@media (max-width:470px) {
    .content{
        width: 420px;
    }
}

@media (max-width:440px) {
    .content{
        width: 380px;
    }
    .content form div input{
        width: 330px;
        height: 40px;
    }
    .content form div label{
        font-size: 16px;
    }    
    .submit button{
        width: 300px;
        margin-left: 6%;
        font-size: 18px;
    }
}


@media (max-width:400px) {
    .content{
        width: 350px;
    }
    .content form div input{
        width: 300px;
    }
    .submit button{
        width: 280px;
        margin-left: 6%;
    }
}

@media (max-width:365px) {
    .content{
        width: 310px;
    }
    .content form div input{
        width: 270px;
        margin-left: 3%;
    }
    .content form div label{
        margin-left: 3%;
    }

    .submit button{
        width: 260px;
        margin-left: 6%;
    }
}