.back{
    background: #D3D3D3;
    border-radius: 30px;
    width: 210px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9C9C9C;
    font-size: 16px;
    margin-bottom: 36px;
    margin-left: 20px;
}

.registr{
    max-width: 1140px;
    margin: auto;
}
.registr_container{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 487px;
    margin: auto;
    margin-bottom: 20px;
    background: #CBE4D5;
    border-radius: 30px;
    padding-top: 50px;
}

.content form input{
    font-size: 20px;
    padding: 0px 5px;
}
.submit button{
    width: 387px;
    height: 78px;
    background: #51A3C7;
    border-radius: 40px;
    font-size: 24px;
    color: #ffff;
}
.submit{
    margin-top: 30px;
    padding-bottom: 20px;

}

@media (max-width:425px) {
    .content{
        width: 410px;
        margin-left: 20px;
    }
}
@media (max-width:375px) {
    .content{
        width: 380px;
        margin-left: 15px;
    }
    .content form div input{
        width: 350px;
        margin-left: 10px;
    }
    .content form div label{
        margin-left: 10px;
    }
    .submit button{
        width: 360px;
        margin-left: 5px;
    }
}
@media (max-width:320px) {

    .content form div input{
        width: 340px;
        margin-left: 10px;
    }
    .content form div label{
        margin-left: 10px;
    }
}