.contacts{
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.our_contacts{
    font-weight: bold;
    font-size: 36px;
}

.numbers{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.email{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.social{
    display: flex;
    margin-top: 15px;
    max-width: 410px;
    justify-content: space-between;
}
.social__item{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.numbers img{
    margin-right: 10px;
}
.email img{
    margin-right: 10px;
}


@media(max-width:1023px){
    .container{
        flex-direction: column;
    }
    .right img{
        width: 100%;
    }
    .right{
        margin-top: 20px;
    }
}