.profile{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile_container{
    background: #CBE4D5;
    border-radius: 30px;
    width: 600px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label{
    font-weight: 500;
    font-size: 24px;
    margin: 25px 0px;
}

.content{
    font-weight: 500;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    margin-bottom: 24px;
}
.surName{
    margin-bottom: 24px;
}
.email{
    margin-bottom: 24px;
}
.phone{
    margin-bottom: 24px;
}

.right{
    margin-left: 20px;
}

.left div{
    margin: 20px 0px;
}
.right div{
    margin: 20px 0px;
}
.btns{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.edit_profile{
    width: 100px;
    height: 50px;
    background: #51C780;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    font-size: 12px;
}
.edit_password{
    width: 100px;
    height: 50px;
    background: #51A3C7;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    font-size: 12px;
}


.edit_email{
    width: 100px;
    height: 50px;
    background: #51A3C7;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    font-size: 12px;
}