.container{
    margin: 0px 10px;
}

.productCard{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: auto;
    margin-top: 50px;
}


.back{
    margin-bottom: 30px;
}
.back button{
    width: 210px;
    height: 46px;
    background: #D3D3D3;
    border-radius: 30px;
    color: #9C9C9C;
    font-size: 16px;
    border: none;
    text-decoration: none;
}
.content img{
    width: 410px;
    margin-right: 50px;
}
.content{
    display: flex;
}

.btns button:nth-child(1){
    background: #EA4D4D;
    border-radius: 28px;
    width: 190px;
    height: 51px;
    color: white;
    margin-right: 5%;
}
.btns button:nth-child(2){
    background: #51C780;
    border-radius: 28px;
    width: 190px;
    height: 51px;
    color: white;
}

.name{
    font-weight: bold;
    font-size: 36px;
    color: black;
}

.discription{
    margin-top: 30px;
    margin-bottom: 80px;
}
.btns{
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.disName{
    font-size: 24px;
}
.discription{
    font-size: 18px;
}
.price{
    font-size: 24px;
}

@media (max-width:890px) {
    .btns{
        display:flex ;
        justify-content: space-between;
    }
    .content{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .content img{
        margin-top: 30px;
        width: 100%;
        margin-left: 50px;
    }
}

@media (max-width:580px) {
    .btns button:nth-child(1){
        width: 150px;
    }
    .btns button:nth-child(2){
        width: 150px;
    }
}

@media (max-width:380px) {
    .btns button:nth-child(1){
        width: 120px;
        font-size: 14px;
    }
    .btns button:nth-child(2){
        width: 120px;
        font-size: 14px;
    }
}