
.card{
    background: #E7E7E7;
    border-radius: 20px;
    width: 255px;
    height: 288px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.image{
    border-radius: 23px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 13px;
    margin-bottom: 7px;
    cursor: pointer;
}
.product__name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.image img{
    width: 204px;
    height: 180px;
    border-radius: 26px;
}

.btn{
    width: 116px;
    height: 40px;
    border-radius: 28px;
    background-color: #53BC7D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.btn span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.card__footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.price{
    font-size: 20px;
    margin-right: 20px;
}
