.orderhistory{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderhistory_container{
    background: #E7E7E7;
    border-radius: 30px;
    max-width: 853px;
    min-height: 540px;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.label{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 830px) {
    .orderhistory_container{
        padding: 15px;
        margin: 5px;
    }
    .label{
        font-size: 20px;
    }
}