
button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.menu__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close img{
    width: 24px;
}
.open{
    width: 120px;
}

.openMenu img{ 
    width: 36px;
}