.auth{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0px 20px;
}

.authNow{
    background: #E5E5E5;
    border-radius: 30px;
    width: 480px;
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    margin: auto;
}

.registr{
    background: #E5E5E5;
    border-radius: 30px;
    width: 480px;
    height: 417px;
    margin: 10px 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    background: #51C780;
    border-radius: 40px;
    width: 323px;
    height: 70px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.authNow__label{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registr_label span:nth-child(1){
    font-weight: bold;
    font-size: 24px;
}

.registr_label span:nth-child(2){
    font-weight: bold;
    font-size: 24px;
    color: #518F47;
}

.registr_dis{  
    font-weight: 500;
    font-size: 14px;
    width: 245px;
    margin-top: 9%;
    text-align: center;
}
.registr_btn{
    background: #51A3C7;
    border-radius: 40px;
    width: 323px;
    height: 70px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 9%;
}

.registr_label{
    margin-top: 9%;
    margin-left: 10%;
}
.registr_container{
    display: flex;
    align-items:center;
    flex-direction: column;
}

@media (max-width :1023px) {
    .auth{
        flex-direction: column;
    }
    .authNow{
        width: 80%;
    }
    .registr{
        width: 80%;
    }
}



@media (max-width: 767px) {
    .authNow__label{
        font-size: 22px;
    }
    .authNow{
        width: 100%;
    }
    .registr{
        width: 100%;
    }
}
@media (max-width:460px) {
    .authNow > div div input{
        width: 95%;
        height: 50px
    }
    .authNow > div div label{
        font-size: 18px;
    }
    .btn{
        width: 280px;
    }
    .registr_btn{
        width: 280px;
    }
    
}

@media (max-width:390px) {
    .authNow > div div input{
        width: 90%;
        margin-left: 10px;
    }
    .authNow > div div label{
        margin-left: 10px;
        font-size: 18px;
    }
    .btn{
        width: 260px;
        font-size: 22px;
    }
    .authNow__label{
        font-size: 18px;
    }
    .registr_btn{
        width: 260px;
        font-size: 18px;
    }
}

@media (max-width:360px) {
    .authNow > div div input{
        width: 75%;
        margin-left: 35px;
    }
    .authNow > div div label{
        margin-left: 35px;
    }
    .btn{
        width: 230px;
        font-size: 20px;
    }
    .authNow__label{
        font-size: 18px;
    }
    .registr_btn{
        width: 230px;
        font-size: 18px;
    }
}